
*{
  padding: 0%;
  margin:0%;
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  background-color: #fff;
  overflow-x: hidden;
}
.App{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

