*{
    padding: 0;
    margin: 0;
  }
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color:#262626;
    box-shadow: 0 2px 7px black;
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 70px;
    justify-content: space-between;
    background-color: rgb(42, 218, 19);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 1px black;
}
.logo>img{
    width: 3.5rem;
}
.logo>h1{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 400;

}
.header>button{
    margin-right: 150px;
    width: 9rem;
    height: 2.5rem;
    background-color: #1693CA;
    border: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: roboto;
    font-weight: 200;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgb(5, 5, 5);
    text-shadow: 0 2px 10px gray;
}
@media screen and (max-width:700px) {
    .header{
        display: flex;
        flex-direction: column;
    }
    .logo{
      align-self: center;
      padding: 0%;
      margin: 0%;
    }
    .header>button{
      margin:0%;
      width: 30%;
      height: 2rem;
      padding: 0;
      align-self: center;
    }
    .slider{
        width: 10vw;
    }
    .rsis-image {
       width: 100vw;
      }
}
